<div class="map-header">
  <button (click)="addNewLocationTrigger()" mat-raised-button color="primary">
    <span class="material-symbols-outlined">add_location</span>
    <span class="map-header__btn-text">Add Location</span>
  </button>
  <button (click)="addNewCheckpointTrigger()" mat-raised-button color="primary">
    <span class="material-symbols-outlined">push_pin</span>
    <span class="map-header__btn-text">Add Checkpoint For Me</span>
  </button>
  <button (click)="clearCheckpoints()" [disabled]="!myCheckpointMarkersList.length" mat-raised-button color="primary">
    <span class="material-symbols-outlined">wrong_location</span>
    <span class="map-header__btn-text">Clear My Checkpoints</span>
  </button>
  <button (click)="calculatePath()" mat-raised-button color="primary">
    <span class="material-symbols-outlined">calculate</span>
    <span class="map-header__btn-text">Calculate Meeting Point</span>
  </button>
</div>
<div class="map-container" [ngClass]="{'map-container--new-loc': newLocationTriggerActive || newCheckpointTriggerActive}">
  <div class="map-frame">
    <mat-button-toggle-group class="map-frame__vehicle-toggle" name="vehicleType" aria-label="Font Style" [(ngModel)]="currentVehicleType" (ngModelChange)="refreshPaths()">
      <mat-button-toggle value="foot">Foot</mat-button-toggle>
      <mat-button-toggle value="car">Car</mat-button-toggle>
    </mat-button-toggle-group>
    <div id="map"></div>
  </div>
</div>
